{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Deustotil</title>
    <link rel="stylesheet"  href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'imagenes/logo.png' %}" alt="logo deustotil">
        <section>
            <button>
                <a href="{% url 'empleados' %}">Empleados</a>
            </button>
            <button>
                <a href="{% url 'clientes' %}">Clientes</a>
            </button>
    </header>
    <article>
        <section>
            {% block content %}
            {% endblock %}
        </section>
    </article>
    <footer>
        <section>
        <img src="{% static 'imagenes/logo_letras.png' %}" alt="logo secundario Deustotil">
        </section>
        <section>
            <h3>Enlaces rápidos</h3>
            <ul>
                <li><a href="{% url 'empleados' %}">Empleados</a></li>
                <li><a href="{% url 'clientes' %}">Clientes</a></li>
            </ul>
        </section>
        <section>
            <h3>Contacto IT:</h3>
            <p>Email: soporte@deustotil.com</p>
            <p>Tel: +34 944 045 695</p>
        </section>
    </footer>
</body>
</html>