{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Deustotil</title>
    <link rel="stylesheet"  href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'imagenes/logo.png' %}" alt="logo deustotil">
        <section>
            <button>
                <a href="{% url 'empleados' %}">Empleados</a>
            </button>
            <button>
                <a href="{% url 'clientes' %}">Clientes</a>
            </button>
    </header>
    <article>
        {% block content %}
        {% endblock %}
    </article>
    <footer>
        <!-- código para el footer -->
    </footer>
</body>
</html>