<!-- archivo html base para la aplicación -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Deustotil</title>
    <link rel="stylesheet"  href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'index' %}">
            <img src="{% static 'imagenes/logo.png' %}" alt="logo deustotil">
        </a>
        <section>
            <button>
                <a href="{% url 'empleados' %}">Empleados</a>
            </button>
            <button>
                <a href="{% url 'clientes' %}">Clientes</a>
            </button>
            <button>
                <a href="{% url 'proyectos' %}">Proyectos</a>
            </button>
            <button>
                <a href="{% url 'responsables' %}">Responsables</a>
            </button>
            <button>
                <a href="{% url 'tareas' %}">Tareas</a>
            </button>
            <button>
                <a href="{% url 'correo_contacto' %}">Contacto</a>
            </button>
    </header>
    <article>
        {% block content %}
        {% endblock %}
    </article>
    <footer>
        <section>
        <img src="{% static 'imagenes/logo_letras.png' %}" alt="logo secundario Deustotil">
        </section>
        <section>
            <h3>Enlaces rápidos</h3>
            <div class="columns">
                <div class="column">
                    <ul>
                        <li><a href="{% url 'index' %}">Inicio</a></li>
                        <li><a href="{% url 'empleados' %}">Empleados</a></li>
                        <li><a href="{% url 'clientes' %}">Clientes</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <li><a href="{% url 'proyectos' %}">Proyectos</a></li>
                        <li><a href="{% url 'responsables' %}">Responsables</a></li>
                        <li><a href="{% url 'tareas' %}">Tareas</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <h3>Contacto IT:</h3>
            <p>Email: soporte@deustotil.com</p>
            <p>Tel: +34 944 045 695</p>
            <p><a href="https://github.com/alaiayeregui/IW-grupo2" target="_blank">Repositorio GitHub</a></p>
        </section>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>