{% extends "base.html" %}
{% load static %}
{% block content %}
    <section id="indice">
        <img src="{% static 'imagenes/inicio1.jpg' %}" alt="imagen consultoría">
        <section class="opciones">
            <a href="{% url 'empleados' %}">Empleados</a>
        </section>
        <section class="opciones">
            <a href="{% url 'clientes' %}">Clientes</a>
        </section>
        <section class="opciones">
            <a href="{% url 'proyectos' %}">Proyectos</a>
        </section>
        <section class="opciones">
            <a href="{% url 'tareas' %}">Tareas</a>
        </section>
        <section class="opciones">
            <a href="{% url 'responsables' %}">Responsables</a>
        </section>
{% endblock %}