{% extends "base.html" %}
{% block content %}
<section id="content">
    <h2>Clientes:</h2>
    <button><a href="{% url 'crear_cliente'%}">Nuevo cliente</a></button>
    <table class="tabla_tareas">
        <tr>
            <th>Nombre</th>
            <th>Email de contacto</th>
            <th>Proyecto</th>
        </tr>
    {% for cliente in object_list %}
        <tr>
            <td><a href="{% url 'detalles_cliente' cliente.id %}">{{ cliente.nombre }}</a></td>
            <td>{{ cliente.email_contacto }}</td>
            <td>
                {% for proyecto in cliente.proyecto_set.all %}
                    <a href="{% url 'detalles_proyecto' proyecto.pk %}">{{ proyecto.nombre }}</a>
                {% empty %}
                    Sin proyectos
                {% endfor %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>Sin clientes</td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}