{% extends "base.html" %}
{% block content %}
<section id="content">
    <h2>Empleados:</h2>
    <button><a href="{% url 'crear_empleado'%}">Nuevo empleado</a></button>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Tareas</th>
        </tr>

        {% for empleado in object_list %}
        <tr>
            <td><a href="{% url 'detalles_empleado' empleado.id %}">{{ empleado.nombre }}</a></td>
            <td><a href="{% url 'detalles_empleado' empleado.id %}">{{ empleado.apellidos }}</a></td>
            <td>
                {% for tarea in empleado.tarea_set.all %}
                    <a href="{% url 'detalles_tarea' tarea.pk %}">{{ tarea.nombre }}</a>
                {% empty %}
                    No tiene tareas asignadas
                {% endfor %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>Sin empleados</td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}