{% extends "base.html" %}
{% block content %}
<section id="content">
    <h1>{{ proyecto.nombre }} </h1>
    <p><strong>Descripción:</strong> {{proyecto.descripcion}}</p>
    <p><strong>Fecha de inicio:</strong> {{proyecto.fecha_inicio}}</p>
    <p><strong>Fecha de fin:</strong> {{proyecto.fecha_fin}}</p>
    <p><strong>Presupuesto:</strong> {{proyecto.presupuesto}}</p>
    <p><strong>Tareas:</strong> {{proyecto.tareas}}</p>
    <p><strong>Responsables:</strong></p>
    <ul>
    {% for responsable in proyecto.responsables.all %}  
        <li>
            <a href="{% url 'detalles_responsable' responsable.id %}">{{ responsable.nombre }} {{ responsable.apellidos }}</a>
        </li>
    {% empty %} 
        <li>
            No tiene responsable identificado.
        </li>
    {% endfor %}

    <h3>Documentos asociados</h3>
    <ul>
        {% for doc in proyecto.documento.all %}
            <li>
                <a href="{{ doc.documento.url }}" download>{{ doc.titulo }}</a>
            </li>
        {% empty %}
            <li>No hay documentos asociados.</li>
        {% endfor %}
    </ul>

    </ul>  
    <button><a href="{% url 'delete_proyecto' proyecto.id %}">Borrar</a></button>
    <button><a href="{% url 'modificar_proyecto' proyecto.id %}">Editar</a></button>
</section>
{% endblock %}

